/* Scroll Header Pro */
/*
HTML structure:

<div class="page-header scroll-header sh-container" title="(your_title)">
	<h2 class="zmb sh-heading fittext" id="shID">
		(Heading_text)	<small>	(Subheading_text) </small>
	</h2>
</div>

classes and IDs (explanation)

Heading Container
.page-header	-	Default container class. If custom class(es) is added (in metatab options), class .page-header will be substituted with it.
.scroll-header	-	Class needed for ScrollSpy functionality. If "Disable ScrollSpy usage" is checked, this class will be removed.
.sh-container	-	Empty class for your customisation.

Heading
.zmb		-	removes bottom margin
.sh-heading	-	Empty class for your customisation.
.sh-fittext	-	class used with FitText (if enabled).
#shID #shID2 #shID3 etc.			-	Unique ID tag of every heading. Used for custom heading font.
.char1, .word1, .line1, .char2 etc.	-	classes for styling <span> elements, if lettering.js is activated. Use inspect element (or other) on demo page.
*/

//For customisation of container and heading
.sh-container{}
.sh-heading{}


//fittext class
.sh-fittext{
	display: block;
	width: 99%;
	margin: 0 auto;
	text-align: center;
}
//Spynav fix (removes active button styles)
.spynav_mix{
	padding-left:12px !important;
	.box-shadow(inset 0 0 0);
	color: @textColorAlt;
	border-right: 1px solid darken(@baseContrastMore, 10);
	border-top-color: darken(@baseContrastMore, 10);
}

section#scrollspy{
.spynav .nav > li.active > a{
	.buttonBackground(@baseContrastSlight, @baseContrastMore);
	.border-radius(0px);
	outline: 1px solid darken(@baseContrastMore, 10);
	border-left: 1px solid rgba(255,255,255,0.4);
	.spynav_mix;
}
.spynav .nav > li.active > a:hover{
	.buttonBackground(darken(@baseContrastMore, 5), @baseContrast);
	border-left: 1px solid darken(@baseContrastMore, 10);
	.spynav_mix;
}
}